

.TV-main{
    button{
        position: fixed;
        top: 120px;
        right: 409px;
      }
}
.tv-modal-container {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(189, 189, 189, 0.9);
  }
  .tvList{

    height: 500px;
    position: absolute;
    background-color: white;
    width: 600px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto auto;


    .tv-list-container{
        height: 41px;
        width: 116px;
        p:hover {
            background-color: black;
            color: white;
          }

    }
    
  }